.login-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

.login-banner {
    flex: 2;
    flex-shrink: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/pexels-photo-7078661.jpeg');
    background-size: cover;
}

.login-form-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.login-form {
    margin: auto;
}

.form-title {
    font-size: 3em;
    margin-bottom: 20px;
}

.product-title {
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    border-radius: 0.2em;
    padding: 1em;
}

.product-title h1 {
    font-size: 6em;
}

input {
    box-sizing: border-box;
    height: 2.75em;
    width: 22em;
    font-size: large;
    border-radius: 8px;
}

.input-box {
    border: 1px solid grey;
    padding-left: 8px;
    margin-bottom: 10px;
}

.input-button {
    background-color: black;
    color: white;
}

.input-button:hover {
    cursor: pointer;
}

.input-button:active {
    background-color: #333333;
}