.home-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.home-page-properties {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow-y: auto;
}

.display-property {
    flex: 2;
    border-right: 5px solid black;
}

.property-details {
    padding-top: 10px;
}

.properties {
    flex: 1;
    overflow-y: scroll;
    height: 100%;
}

.property-card {
    margin: 10px 5px;
    height: 5em;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 0.5em;
}

.property-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}

.search-bar {
    border-bottom: 5px solid black;
}